@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme styles */
:root {
  --background-color: white;
  --text-color: black;
}

/* Dark theme styles */
html.dark {
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Light theme styles */
html.light {
  --background-color: white;
  --text-color: black;
}

/* System theme uses the default theme, but you can modify it as needed */
html.system {
  --background-color: white;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
