@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme styles */
:root {
  --background-color: white;
  --text-color: black;
}

/* Dark theme styles */
/* Dark theme styles */
html.dark {
  --background-color: black;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #03dac5;
  --border-color: #272727;
  --input-bg-color: #1d1d1d;
  --hover-color: #333333;
  --disabled-bg-color: #3a3a3a;
  --disabled-text-color: #777777;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --card-bg-color: #1e1e1e;
  --link-color: #8ab4f8;
}

/* Light theme styles */
html.light {
  --background-color: white;
  --text-color: black;
  --primary-color: #6200ee;
  --secondary-color: #018786;
  --border-color: #e0e0e0;
  --input-bg-color: #f5f5f5;
  --hover-color: #eaeaea;
  --disabled-bg-color: #f2f2f2;
  --disabled-text-color: #bcbcbc;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --card-bg-color: #ffffff;
  --link-color: #1a73e8;
}

/* System theme (default or customizable as needed) */
html.system {
  --background-color: white;
  --text-color: black;
  --primary-color: #6200ee;
  --secondary-color: #018786;
  --border-color: #e0e0e0;
  --input-bg-color: #f5f5f5;
  --hover-color: #eaeaea;
  --disabled-bg-color: #f2f2f2;
  --disabled-text-color: #bcbcbc;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --card-bg-color: #ffffff;
  --link-color: #1a73e8;
}

/* Applying variables globally */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}



/* Card component */
.card {
  background-color: var(--card-bg-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Links */

